/**
 * All of the CSS for the public-facing functionality of this plugin
 */

:root {
	--csjs-background-color: #ffffff;
	--csjs-primary-color: #3a76ca;
	--csjs-text-color: #303030;
	--csjs-text-on-primary-color: #ffffff;
	--csjs-text-lighter-color: #555555;
	--csjs-text-lightest-color: #808080;
	--csjs-gliph-color: #999999;
	--csjs-border-darker-color: #808080;
	--csjs-border-color: #c0c0c0;
	--csjs-border-lighter-color: #e0e0e0;
	--csjs-light-grey-background-color: #f7f7f7;
	--csjs-today-background-color: #ffffef;
	--csjs-category-1-color: #3a76ca;
	--csjs-category-2-color: #3aca76;
}

.csjs-hidden {
	display: none;
}

.cancelled {
	color: var(--cs-text-lightest-color);
}

.cancelled div.csjs-event-name {
	text-decoration: line-through;
}
	
div.csjs-row {
	/* A container to display the event 'cards' horizontally */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

div.csjs-card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	background-color: var(--csjs-background-color);
}

/* On mouse-over, add a deeper shadow */
div.csjs-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.csjs-event-card,
div.csjs-group {
	/* Default width provides the right card size ... height is dependent on content */
	width: 330px;
    /* Default margin ensures cards are not 'squeezed' together too much */
	margin: 0.5rem 0.5rem;
	border-radius: 10px;
	overflow: hidden;
}

div.csjs-group {
	width: 350px;
	margin: 1rem 1rem;
}

div.csjs-group-image-area,
div.csjs-event-card-image-area {
	background-image: url("https://www.cambray.org/mp3_sermons/2022/01/cambray-front-sky-CBC-1024x576-1.jpg");
	background-size: cover;
	height: 186px;
}

div.csjs-group-image-area {
	height: 250px;
}

div.csjs-group-image-area img {
	height: 250px;
	width: 350px;
	object-fit: cover;
}

div.csjs-event-card-image-area img {
	height: 186px;
	width: 330px;
	object-fit: cover;
}

div.csjs-group-details-area,
div.csjs-event-card-details-area {
	/* Add some padding around the internal text */
	padding: 1rem 1rem;
}

div.csjs-event-name,
div.csjs-group-name { 
	font-size: 1.5rem;
	margin: 1rem 0;
}

div.csjs-date { /* no formatting at present */ }

span.csjs-date-gliph::before {
	content: "\f133";
	font-family: "FontAwesome";
	padding-right: 0.5rem;
	color: var(--csjs-gliph-color);
}

div.csjs-time { /* no formatting at present */ }

span.csjs-time-gliph::before {
	content: "\f017";
	font-family: "FontAwesome";
	padding-right: 0.5rem;
	color: var(--csjs-gliph-color);
}

div.csjs-location { /* no formatting at present */ }

span.csjs-location-gliph::before {
	content: "\f041";
	font-family: "FontAwesome";
	padding-right: 0.7rem;
	color: var(--csjs-gliph-color);
}

div.csjs-address,
div.csjs-description {
    font-size: 0.8rem;
    line-height: 1.25;
	color: var(--csjs-text-lighter-color);
	margin: 1rem 0;
}

div.csjs-event-list div.csjs-event-row {
	display: flex;
    flex-direction: row;
}

div.csjs-event-list div.csjs-date-column {
    width: 5rem;
}

div.csjs-event-list div.csjs-event-column {
	width: 100%;
}

div.csjs-event-list div.csjs-date {
    background-color: var(--csjs-primary-color);
    color: var(--csjs-text-on-primary-color);
    padding: 5px 5px;
    max-width: 3.5rem;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 5px;
    line-height: 1rem;
}

div.csjs-event-list div.csjs-date .csjs-day,
div.csjs-event-list div.csjs-date .csjs-date-number,
div.csjs-event-list div.csjs-date .csjs-month,
div.csjs-event-list div.csjs-date .csjs-year {
    display: block;
}

div.csjs-event-list div.csjs-date .csjs-date-number {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

div.csjs-event-list div.csjs-date .csjs-year {
    display: none;
}

div.csjs-event-list div.csjs-compact-event {
    border: 1px solid var(--csjs-border-lighter-color);
    border-radius: 5px;
    font-size: 0.9rem;
    line-height: 1rem;
    width: 100%;
    padding: 10px;
    margin-bottom: 0.7rem;
}

div.csjs-event-list div.csjs-compact-event:hover {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

div.csjs-event-list div.csjs-compact-event div.csjs-event-name,
div.csjs-event-list div.csjs-compact-event div.ce-event-name a {
    font-size: 1rem;
}

div.csjs-event-list div.csjs-event-card.pending {
	display: none;
}

div.csjs-event-list div.csjs-event-card.cancelled {
	color: var(--csjs-text-lightest-color);
}

div.csjs-event-list div.csjs-event-card.cancelled div.csjs-event-name {
	text-decoration: line-through;
}

div.csjs-compact-event span.csjs-start-time{
    font-weight: bold;
}

div.csjs-compact-event div.csjs-location,
div.csjs-compact-event div.csjs-address,
div.csjs-compact-event div.csjs-description {
	line-height: 1rem;
	margin: 0.3rem 0;
}

div.csjs-compact-event div.csjs-address {
	font-size: 0.7rem;
	margin: 0.3rem 0 0.3rem 1.1rem;
}

div.csjs-calendar {
    background-color: white;
    border-radius: 15px;
    border: 1px solid var(--csjs-border-lighter-color);
}

div.csjs-calendar-month-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
	font-size: 2rem;
}

div.csjs-calendar-month-nav {}

div.csjs-calendar-month-nav button {
    border-radius: 0.5rem;
    border: 1px solid var(--csjs-border-lighter-color);
    padding: 0.25rem;
    align-items: center;
    overflow: visible;
    display: inline-flex;
}

div.csjs-calendar-month-nav button svg {
    color: var(--csjs-text-lighter-color);
    width: 1.5rem;
    height: 1.5rem;
}

div.csjs-calendar-day-name-header,
div.csjs-calendar-days {
    display: flex;
    flex-direction: row;
}

div.csjs-calendar-days {
    flex-wrap: wrap;
}

div.csjs-calendar-day-name-cell,
div.csjs-calendar-date-cell {
    width: 14.28%;
    border: 1px solid var(--csjs-border-lighter-color);
    border-right: 0px transparent;
    border-bottom: 0px transparent;
    padding: 0.5rem 0.5rem;
}

div.csjs-calendar-day-name-cell {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
}

div.csjs-calendar-day-name-header:last-child,
div.csjs-calendar-days:nth-child(7) {
    border-right: 1px solid var(--csjs-border-lighter-color);
}    

div.csjs-calendar-date-cell {
    min-height: 5rem;
}

div.csjs-calendar-date-cell.csjs-calendar-before {
    background-color: var(--csjs-light-grey-background-color);
}

div.csjs-calendar-date-cell.csjs-calendar-today {
    background-color: var(--csjs-today-background-color);
}

div.csjs-calendar div.csjs-date span.csjs-day,
div.csjs-calendar div.csjs-date span.csjs-year {
    display: none;
}

div.csjs-calendar-event {
	font-size: 0.9rem;
	margin: 1rem 0 1.5rem 0;
	position: relative;
}

div.csjs-calendar-event .csjs-time {
    font-size: 0.9rem;
    line-height: 1rem;
}

div.csjs-calendar-event span.csjs-time-gliph::before {
	display: none;
}

div.csjs-calendar-event .csjs-start-time {
    font-weight: bold;
}

div.csjs-calendar-event div.csjs-event-name {
    font-size: 0.9rem;
    line-height: 1rem;
    margin: 0.2rem 0 0 0;
}

div.csjs-calendar-event.csjs-calendar-category-1 {
    color: var(--csjs-category-1-color);
}

div.csjs-calendar-event.csjs-calendar-category-2 {
    color: var(--csjs-category-2-color);
}

div.csjs-calendar-event .csjs-event-hover-block {
	position: absolute;
	padding: 1rem;
	border: 1px solid var(--cs-border-darker-color);
	width: 280px;
    background-color: var(--cs-background-color);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	overflow: hidden;
	display: none;
}

div.csjs-calendar-event button.csjs-clickable-caret{
	float: right;
	background-color: transparent;
	border: none;
	font-size: 1rem;
	color: var(--cs-text-color);
	width: 16px; height: 16px;
}

div.csjs-calendar-event .csjs-event-hover-block button.csjs-clickable-caret {
	float: right;
	color: var(--cs-text-color);
	background-color: var(--cs-light-grey-background-color);
	border: 1px solid var(--cs-border-lighter-color);
	border-radius: 3px;
	width: 24px; height: 24px;
}

div.csjs-calendar-event .csjs-event-hover-block.csjs-event-hover-reveal {
	display: block;
	z-index: 1;
	left: auto;
	right: 0rem;
}

div.csjs-calendar-date-cell:nth-child(7n+2) div.csjs-calendar-event .csjs-event-hover-block,
div.csjs-calendar-date-cell:nth-child(7n+3) div.csjs-calendar-event .csjs-event-hover-block {
	left: 1rem;
	right: auto;
}

div.csjs-calendar-event .csjs-event-hover-block .csjs-location {
	margin: 0.7rem 0 0 0;
}

div.csjs-calendar-event .csjs-event-hover-block .csjs-address {
	margin: 0.3rem 0 0.3rem 1.1rem;
}

div.csjs-calendar-event .csjs-event-hover-block .csjs-description {
	margin: 0.7rem 0 0 0;
	word-wrap: break-word;
	overflow: scroll;
	font-size: 0.8rem;
	max-height: 150px;
}

div.csjs-calendar-event .csjs-event-hover-block .csjs-description p {
	font-size: 0.8rem;
}

@media screen and (max-width: 700px) {

    div.csjs-calendar {
        border: 0px solid transparent;
        border-radius: 0px;
        background-color: transparent;
    }

	div.csjs-calendar div.csjs-calendar-day-name-cell {
		visibility: hidden;
		height: 0;
		position: absolute;
	}
	
	div.csjs-calendar div.csjs-calendar-days {
	    display: block;
	}

	div.csjs-calendar div.csjs-calendar-date-cell {
		border: 0px solid transparent;
		width: 100%;
	}
	
	div.csjs-calendar div.csjs-calendar-date-cell div.csjs-day-content {
		display: flex;
		flex-direction: row;
	    width: 100%;
	}
	  
	div.csjs-calendar div.csjs-calendar-date-cell.csjs-calendar-before {
		display: none;
	}
	
	div.csjs-calendar div.csjs-calendar-date-cell div.csjs-date {
        width: 5rem;   
	}

	div.csjs-calendar div.csjs-calendar-date-cell div.csjs-date-cell-inner {
        width: 100%;
	}

    div.csjs-calendar-date-cell div.csjs-event-hover-block.csjs-event-hover-reveal,
    div.csjs-calendar-date-cell:nth-child(7n+2) div.csjs-calendar-event .csjs-event-hover-block,
    div.csjs-calendar-date-cell:nth-child(7n+3) div.csjs-calendar-event .csjs-event-hover-block {
		left: auto;
		right: 0rem;
	}

	div.csjs-calendar div.csjs-calendar-date-cell div.csjs-date span.csjs-day,
	div.csjs-calendar div.csjs-calendar-date-cell div.csjs-date span.csjs-month {
		display: block;
	}

	div.csjs-calendar div.csjs-calendar-date-cell  div.csjs-date {
		background-color: var(--cs-primary-color);
		color: var(--cs-text-on-primary-color);
		padding: 5px 5px;
		width: 3.5rem;
		max-width: 3.5rem;
		text-align: center;
		font-size: 0.7rem;
		font-weight: normal;
		border-radius: 5px;
		line-height: 1rem;
		height: 4.3rem;
		margin-right: 1rem;
	}
	
	div.csjs-calendar div.csjs-calendar-date-cell div.csjs-date .csjs-date-number {
	    font-size: 1.4rem;
	    font-weight: strong;
	    line-height: 1.4rem;
    }

	div.csjs-calendar div.csjs-calendar-date-cell div.csjs-date.csjs-first-day span.csjs-month {
		display: block;
		margin-left: 0;
	}

	div.csjs-calendar div.csjs-calendar-date-cell  div.csjs-calendar-date-cell-inner {
	    width: 100%;
	}

}
