/**
 * All of the CSS for the public-facing functionality of this plugin
 */

:root {
	--cs-background-color: #ffffff;
	--cs-primary-color: #3a76ca;
	--cs-text-color: #303030;
	--cs-text-on-primary-color: #ffffff;
	--cs-text-lighter-color: #555555;
	--cs-text-lightest-color: #808080;
	--cs-gliph-color: #999999;
	--cs-border-darker-color: #808080;
	--cs-border-color: #c0c0c0;
	--cs-border-lighter-color: #e0e0e0;
	--cs-light-grey-background-color: #f3f3f3;
	--cs-today-background-color: #ffffef;
}

div.cs-row {
	/* A container to display the event 'cards' horizontally */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

div.cs-card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	background-color: var(--cs-background-color);
}

/* On mouse-over, add a deeper shadow */
div.cs-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.cs-event-card,
div.cs-group {
	/* Default width provides the right card size ... height is dependent on content */
	width: 330px;
    /* Default margin ensures cards are not 'squeezed' together too much */
	margin: 0.5rem 0.5rem;
	border-radius: 10px;
	overflow: hidden;
}

div.cs-group {
	width: 350px;
	margin: 1rem 1rem;
}

div.cs-group-image-area,
div.cs-event-card-image-area {
	background-image: url("https://www.cambray.org/mp3_sermons/2022/01/cambray-front-sky-CBC-1024x576-1.jpg");
	background-size: cover;
	height: 186px;
}

div.cs-group-image-area {
	height: 250px;
}

div.cs-group-image-area img {
	height: 250px;
	width: 350px;
	object-fit: cover;
}

div.cs-event-card-image-area img {
	height: 186px;
	width: 330px;
	object-fit: cover;
}

div.cs-group-details-area,
div.cs-event-card-details-area {
	/* Add some padding around the internal text */
	padding: 1rem 1rem;
}

div.cs-event-name,
div.cs-group-name { 
	font-size: 1.5rem;
	margin: 1rem 0;
}

div.cs-date { /* no formatting at present */ }

span.cs-date-gliph::before {
	content: "\f133";
	font-family: "FontAwesome";
	padding-right: 0.5rem;
	color: var(--cs-gliph-color);
}

div.cs-time { /* no formatting at present */ }

span.cs-time-gliph::before {
	content: "\f017";
	font-family: "FontAwesome";
	padding-right: 0.5rem;
	color: var(--cs-gliph-color);
}

div.cs-location { /* no formatting at present */ }

span.cs-location-gliph::before {
	content: "\f041";
	font-family: "FontAwesome";
	padding-right: 0.7rem;
	color: var(--cs-gliph-color);
}

div.cs-address,
div.cs-description {
    font-size: 0.8rem;
    line-height: 1.25;
	color: var(--cs-text-lighter-color);
	margin: 1rem 0;
}

div.cs-event-list div.cs-event-row {
	display: flex;
    flex-direction: row;
}

div.cs-event-list div.cs-date-column {
    width: 5rem;
}

div.cs-event-list div.cs-event-column {
	width: 100%;
}

div.cs-event-list div.cs-date {
    background-color: var(--cs-primary-color);
    color: var(--cs-text-on-primary-color);
    padding: 5px 5px;
    max-width: 3.5rem;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 5px;
    line-height: 1rem;
}

div.cs-event-list div.cs-date .cs-day,
div.cs-event-list div.cs-date .cs-date-number,
div.cs-event-list div.cs-date .cs-month,
div.cs-event-list div.cs-date .cs-year {
    display: block;
}

div.cs-event-list div.cs-date .cs-date-number {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

div.cs-event-list div.cs-date .cs-year {
    display: none;
}

div.cs-event-list div.cs-compact-event {
    border: 1px solid var(--cs-border-lighter-color);
    border-radius: 5px;
    font-size: 0.9rem;
    line-height: 1rem;
    width: 100%;
    padding: 10px;
    margin-bottom: 0.7rem;
}

div.cs-event-list div.cs-compact-event:hover {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

div.cs-event-list div.cs-compact-event div.cs-event-name,
div.cs-event-list div.cs-compact-event div.ce-event-name a {
    font-size: 1rem;
}

div.cs-event-list div.cs-event-card.pending {
	display: none;
}

div.cs-event-list div.cs-event-card.cancelled {
	color: var(--cs-text-lightest-color);
}

div.cs-event-list div.cs-event-card.cancelled div.cs-event-name {
	text-decoration: line-through;
}

div.cs-compact-event span.cs-start-time{
    font-weight: bold;
}

div.cs-compact-event div.cs-location,
div.cs-compact-event div.cs-address,
div.cs-compact-event div.cs-description {
	line-height: 1rem;
	margin: 0.3rem 0;
}

div.cs-compact-event div.cs-address {
	font-size: 0.7rem;
	margin: 0.3rem 0 0.3rem 1.1rem;
}
